<div class="container">
  <div class="header">
    <div class="search-container">
      <input type="text" placeholder="Search..." class="search-input" (keyup)="filterProducts($event)" />
    </div>
    <a class="btn btn-primary" href="/form">Agregar</a>
  </div>

  <div class="card">
    <div class="table-container">
      <table class="product-table">
        <thead>
          <tr>
            <th>Logo</th>
            <th>Nombre del producto</th>
            <th>Descripción</th>
            <th>Fecha de liberación</th>
            <th>Fecha de reestructuración</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of displayProducts">
            <td>
              <img class="logo-circle" [src]="product.logo" [alt]="'logo' + product.name" />
            </td>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.date_release | date: 'dd-MM-yyyy' }}</td>
            <td>{{ product.date_revision | date: 'dd-MM-yyyy' }}</td>
            <td><button class="options">...</button></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="footer">
      <span>{{ displayProducts.length }} Resultado{{displayProducts.length !== 1 ? 's' : ''}}</span>
      <select class="pagination-select" [(ngModel)]="itemsPerPage" (change)="onItemsPerPageChange($event)">
        <option *ngFor="let option of displayItemsPerPageOptions" [value]="option">{{ option }}</option>
      </select>
    </div>
  </div>
</div>
